$devBorder: 0pt;
$spacing: 15px;

$cardWidthMin: 300px;

$fontDefault: 0.8em;
$lineHeight: 15px;

$colorLightGrey: #2a2f38;

$colorCardBackground: $colorLightGrey;
$colorDataBackground: $colorLightGrey;

$textWhite: #ddd;
$textWhiteHover: #fff;
$textOffWhite: #aaa;
$textOffWhiteHover: #fff;

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  background-color: #222;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: $textWhite;
  &:hover {
    color: $textWhiteHover;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.shadow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.App {
  background-color: #202329;
  text-align: center;
  color: $textWhite;
  height: 100vh;
  border: $devBorder solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 $spacing;
}

.AppHeader {
  border: $devBorder solid yellow;
  min-width: $cardWidthMin;
  width: 100%;
  margin: $spacing 0;
  user-select: none;

  .appTitle {
    user-select: all;
    cursor: default;
  }

  .responseTime {
    font-size: 10pt;
    color: $textOffWhite;
    font-weight: 400;
  }
}

.CountryList {
  padding: $spacing/5;
  overflow-y: scroll;
  min-width: $cardWidthMin;
  border: $devBorder solid yellow;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $spacing;
  grid-row-gap: $spacing;
  @media screen and (min-width: 750px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1110px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (min-width: 1660px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media screen and (min-width: 2060px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  @media screen and (min-width: 2460px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.card {
  font-size: 12pt;
  border: 1px solid #2f343f;
  background-color: $colorCardBackground;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 rgba(200, 200, 200, 0.1);
  height: 100%;
  padding: $spacing;
  display: flex;
  flex-direction: column;
  align-items: center;

  .details {
    width: 100%;
    height: 100%;
    border: $devBorder solid orange;
    display: flex;
    flex-direction: column;
  }

  .row {
    border: $devBorder solid lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    &.titleBar {
      justify-content: space-between;
      align-items: flex-end;
      .logo {
        width: 50px;
      }
      .leftSide {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &.searchBar {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 600px;
      .formField {
        margin-top: $spacing/2;
        width: 100%;
        border: $devBorder solid lime;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        label {
          margin-bottom: 5px;
          font-size: $fontDefault;
          font-weight: 600;
        }
        #regionSelect,
        #regionSearch {
          width: 100%;
          border: 1px solid #2f343f;
          background-color: $colorCardBackground;
          color: $textWhite;
          height: 25px;
          font-size: $fontDefault;
          &::placeholder {
            color: $textWhite;
          }
        }
      }
    }

    @media screen and (min-width: 860px) {
      &.searchBar {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .formField {
        margin-left: $spacing;
      }
      .formField:first-child {
        margin-left: 0;
      }
    }

    &.countryName {
      justify-content: center;
      margin-bottom: 5px;
    }

    &.countryNameOffical {
      justify-content: center;
      font-size: 16px;
    }

    .label {
      font-size: $fontDefault;
      width: 35%;
      align-self: flex-start;
      text-align: right;
      padding-right: 7px;
      font-weight: 600;
      vertical-align: top;
      line-height: $lineHeight;
      user-select: none;
    }
    .data {
      font-size: $fontDefault;
      flex: 1;
      text-align: left;
      line-height: $lineHeight;
      color: $textOffWhite;
      user-select: all;
      a:hover {
        color: $textOffWhiteHover;
      }
    }

    .flag {
      margin: 15px auto;
      width: 75%;
      max-width: 500px;
      max-height: 400px;
    }
    p {
      border: $devBorder solid orange;
      word-wrap: break-word;
    }
  }
}

.countryFullWidth {
  grid-column: 1 / 4;
}

.right {
  text-align: right;
}
