$devBorder: 0pt;
$spacing: 12px;
$spacing2: 16px;

$breakpointMenuMedium: 450px;
$breakpointMenuLarge: 550px;
$breakpointMenuXLarge: 850px;

$cardWidthMin: 300px;

$fontDefault: 0.8em;
$lineHeight: 15px;

$colorBackground: #202329;
$colorLightGrey: #2a2f38;

$colorCardBackground: $colorLightGrey;
$colorDataBackground: $colorLightGrey;

$textWhite: #ddd;
$textWhiteHover: #fff;
$textOffWhite: #aaa;
$textOffWhiteHover: #fff;
